.gradle
build/
classes/
node_modules/
out/
project/target/
project/project/
target/

.directory

*.iml
.idea/

# Ignore Gradle GUI config
gradle-app.setting
package-lock.json
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

Gemfile.lock
.jekyll-metadata
_site/
